In [1]:
import pandas as pd
import json
from ast import literal_eval

In [2]:
df = pd.read_csv('./data/cv_result_data2.csv', index_col=0)

In [3]:
df_raw = pd.read_csv('./data/ResumeDataSet_final.csv', index_col=0)

In [4]:
set(df_raw['label'])

{'Blockchain',
 'Data Science',
 'DevOps Engineer',
 'Electrical Engineering',
 'Java Developer',
 'Mechanical Engineer',
 'Network Security Engineer',
 'Python Developer',
 'SAP Developer',
 'Web Designing'}

In [5]:
len(df_raw)

200

In [6]:
set(df['job_label'])

{'Blockchain',
 'Data Science',
 'DevOps Engineer',
 'Electrical Engineering',
 'Java Developer',
 'Mechanical Engineer',
 'Network Security Engineer',
 'Python Developer',
 'SAP Developer',
 'Web Designing'}

In [33]:
count = 0
for i, row in df[df['job_label'] == 'Python Developer'].iterrows():
    print(literal_eval(row['skills']))
    print(literal_eval(df_raw[df_raw['label'] == 'Python Developer']['skill_eval_gpt'][i])['skills'])
    print('---')
    count+=1
print(count)

[{'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 20}, {'skill': 'C++', 'score': 20}]
[{'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 20}, {'skill': 'C++', 'score': 20}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'CSS', 'score': 80}, {'skill': 'HTML', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'RESTful Web Services', 'score': 60}, {'skill': 'JSON', 'score': 60}, {'skill': 'Unix', 'score': 40}, {'skill': 'Mongodb', 'score': 40}, {'skill': 'Version Control', 'score': 40}, {'skill': 'Agile', 'score': 80}, {'skill': 'Scrum', 'score': 80}, {'skill': 'Web Services (REST)', 'score': 60}, {'skill': 'Github', 'score': 60}, {'skill': 'Jira', 'score': 60}, {'skill': 'SQLAlchemy', 'score': 40}, {'skill': 'Urllib', 'score': 40}]
[{'skill': 'Python', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'CSS', 'score': 80}, {'skill': 'HTML', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'RESTful Web Services', 'score': 60}, {'skill': 'JSON', 'score': 60}, {'skill': 'Unix', 'score': 40}, {'skill': 'Mongodb', 'score': 40}, {'skill': 'Version Control', 'score': 40}, {'skill': 'Agile', 'score': 80}, {'skill': 'Scrum', 'score': 80}, {'skill': 'Web Services (REST)', 'score': 60}, {'skill': 'Github', 'score': 60}, {'skill': 'Jira', 'score': 60}, {'skill': 'SQLAlchemy', 'score': 40}, {'skill': 'Urllib', 'score': 40}]
---
[{'skill': 'Python development', 'score': 80}, {'skill': 'Python - MongoDB', 'score': 80}, {'skill': 'Python - MySql', 'score': 80}, {'skill': 'Python Cache & Memoization', 'score': 80}, {'skill': 'Python GIT', 'score': 80}, {'skill': 'Python PWS (Pivotal Web Service - Cloud Foundry)', 'score': 80}, {'skill': 'M3/Movex ERP development', 'score': 80}, {'skill': 'AS400 development of Movex/M3 ERP', 'score': 80}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 80}, {'skill': 'M3 Java of Movex/M3 ERP', 'score': 80}, {'skill': 'RPG/400', 'score': 80}, {'skill': 'DB2/400', 'score': 80}, {'skill': 'CL/400', 'score': 80}, {'skill': 'SQL/400', 'score': 80}, {'skill': 'German A1 Level', 'score': 20}]
[{'skill': 'Python development', 'score': 80}, {'skill': 'Python - MongoDB', 'score': 80}, {'skill': 'Python - MySql', 'score': 80}, {'skill': 'Python Cache & Memoization', 'score': 80}, {'skill': 'Python GIT', 'score': 80}, {'skill': 'Python PWS (Pivotal Web Service - Cloud Foundry)', 'score': 80}, {'skill': 'M3/Movex ERP development', 'score': 80}, {'skill': 'AS400 development of Movex/M3 ERP', 'score': 80}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 80}, {'skill': 'M3 Java of Movex/M3 ERP', 'score': 80}, {'skill': 'RPG/400', 'score': 80}, {'skill': 'DB2/400', 'score': 80}, {'skill': 'CL/400', 'score': 80}, {'skill': 'SQL/400', 'score': 80}, {'skill': 'German A1 Level', 'score': 20}]
---
[{'skill': 'Python Developer', 'score': 100}, {'skill': 'Computer Science', 'score': 80}]
[{'skill': 'Python Developer', 'score': 100}, {'skill': 'Computer Science', 'score': 80}]
---
[{'skill': 'Python', 'score': 100}, {'skill': 'Flask', 'score': 80}, {'skill': 'Restful', 'score': 80}, {'skill': 'Numpy', 'score': 20}, {'skill': 'MongoDB', 'score': 100}, {'skill': 'MySQL', 'score': 100}, {'skill': 'AS/400', 'score': 100}, {'skill': 'Java', 'score': 80}, {'skill': 'Stream serve', 'score': 80}]
[{'skill': 'Python', 'score': 100}, {'skill': 'Flask', 'score': 80}, {'skill': 'Restful', 'score': 80}, {'skill': 'Numpy', 'score': 20}, {'skill': 'MongoDB', 'score': 100}, {'skill': 'MySQL', 'score': 100}, {'skill': 'AS/400', 'score': 100}, {'skill': 'Java', 'score': 80}, {'skill': 'Stream serve', 'score': 80}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'Tensorflow', 'score': 0}, {'skill': 'Numpy', 'score': 0}, {'skill': 'C', 'score': 0}, {'skill': 'C++', 'score': 20}, {'skill': 'MySQL', 'score': 20}, {'skill': 'Ubuntu', 'score': 0}, {'skill': 'Fedora', 'score': 0}, {'skill': 'Cent OS', 'score': 0}, {'skill': 'Windows', 'score': 0}]
[{'skill': 'Python', 'score': 80}, {'skill': 'Tensorflow', 'score': 0}, {'skill': 'Numpy', 'score': 0}, {'skill': 'C', 'score': 0}, {'skill': 'C++', 'score': 20}, {'skill': 'MySQL', 'score': 20}, {'skill': 'Ubuntu', 'score': 0}, {'skill': 'Fedora', 'score': 0}, {'skill': 'Cent OS', 'score': 0}, {'skill': 'Windows', 'score': 0}]
---
[{'skill': 'Python Development (MongoDB/MySQL)', 'score': 100}, {'skill': 'AS/400 development', 'score': 100}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 100}, {'skill': 'M3 Java of Movex/M3 ERP', 'score': 100}, {'skill': 'Python Flask', 'score': 80}, {'skill': 'Python Restful API development', 'score': 80}, {'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Debugging and Testing based on Python and AS/400', 'score': 80}, {'skill': 'German Language Proficiency (A1 Level)', 'score': 80}, {'skill': 'Agile Methodology', 'score': 80}, {'skill': 'SDLC (Software Development Life Cycle)', 'score': 80}, {'skill': 'Communication skills', 'score': 80}, {'skill': 'Interpersonal skills', 'score': 80}, {'skill': 'Java', 'score': 20}, {'skill': 'HTML, CSS', 'score': 20}]
[{'skill': 'Python Development (MongoDB/MySQL)', 'score': 100}, {'skill': 'AS/400 development', 'score': 100}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 100}, {'skill': 'M3 Java of Movex/M3 ERP', 'score': 100}, {'skill': 'Python Flask', 'score': 80}, {'skill': 'Python Restful API development', 'score': 80}, {'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Debugging and Testing based on Python and AS/400', 'score': 80}, {'skill': 'German Language Proficiency (A1 Level)', 'score': 80}, {'skill': 'Agile Methodology', 'score': 80}, {'skill': 'SDLC (Software Development Life Cycle)', 'score': 80}, {'skill': 'Communication skills', 'score': 80}, {'skill': 'Interpersonal skills', 'score': 80}, {'skill': 'Java', 'score': 20}, {'skill': 'HTML, CSS', 'score': 20}]
---
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Programming', 'score': 80}, {'skill': 'Developing', 'score': 80}, {'skill': 'HTML', 'score': 20}, {'skill': 'Python library', 'score': 100}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scraping', 'score': 80}]
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Programming', 'score': 80}, {'skill': 'Developing', 'score': 80}, {'skill': 'HTML', 'score': 20}, {'skill': 'Python library', 'score': 100}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scraping', 'score': 80}]
---
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Programming', 'score': 80}, {'skill': 'mysql', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'HTML', 'score': 20}, {'skill': 'Web scrapping', 'score': 80}, {'skill': 'Python library (numpy, pandas, matplotlib, requests, beautiful soup)', 'score': 80}, {'skill': 'C', 'score': 20}, {'skill': 'C++', 'score': 20}, {'skill': 'Java', 'score': 20}]
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Programming', 'score': 80}, {'skill': 'mysql', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'HTML', 'score': 20}, {'skill': 'Web scrapping', 'score': 80}, {'skill': 'Python library (numpy, pandas, matplotlib, requests, beautiful soup)', 'score': 80}, {'skill': 'C', 'score': 20}, {'skill': 'C++', 'score': 20}, {'skill': 'Java', 'score': 20}]
---
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Python development', 'score': 80}, {'skill': 'Frontend development (HTML)', 'score': 20}, {'skill': 'Python library (Numpy, Pandas, Matplotlib, Requests, Beautiful Soup)', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scraping', 'score': 80}, {'skill': 'C', 'score': 20}, {'skill': 'C++', 'score': 20}, {'skill': 'Java', 'score': 20}, {'skill': 'GUI development (Tk, Java)', 'score': 20}, {'skill': 'MS Excel', 'score': 0}, {'skill': 'MS Office', 'score': 0}, {'skill': 'MS Power Point', 'score': 0}]
[{'skill': 'Python scripting', 'score': 80}, {'skill': 'Python development', 'score': 80}, {'skill': 'Frontend development (HTML)', 'score': 20}, {'skill': 'Python library (Numpy, Pandas, Matplotlib, Requests, Beautiful Soup)', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scraping', 'score': 80}, {'skill': 'C', 'score': 20}, {'skill': 'C++', 'score': 20}, {'skill': 'Java', 'score': 20}, {'skill': 'GUI development (Tk, Java)', 'score': 20}, {'skill': 'MS Excel', 'score': 0}, {'skill': 'MS Office', 'score': 0}, {'skill': 'MS Power Point', 'score': 0}]
---
[{'skill': 'Python scripting', 'score': 100}, {'skill': 'Programming', 'score': 80}, {'skill': 'Developing', 'score': 80}, {'skill': 'Frontend', 'score': 20}, {'skill': 'HTML', 'score': 80}, {'skill': 'Python library', 'score': 100}, {'skill': 'Numpy', 'score': 80}, {'skill': 'Pandas', 'score': 80}, {'skill': 'Matplotlib', 'score': 80}, {'skill': 'Requests', 'score': 80}, {'skill': 'Beautiful Soup', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scrapping', 'score': 80}]
[{'skill': 'Python scripting', 'score': 100}, {'skill': 'Programming', 'score': 80}, {'skill': 'Developing', 'score': 80}, {'skill': 'Frontend', 'score': 20}, {'skill': 'HTML', 'score': 80}, {'skill': 'Python library', 'score': 100}, {'skill': 'Numpy', 'score': 80}, {'skill': 'Pandas', 'score': 80}, {'skill': 'Matplotlib', 'score': 80}, {'skill': 'Requests', 'score': 80}, {'skill': 'Beautiful Soup', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'Django', 'score': 80}, {'skill': 'Web scrapping', 'score': 80}]
---
[{'skill': 'Python', 'score': 100}, {'skill': 'MySQL', 'score': 80}, {'skill': 'C++', 'score': 20}]
[{'skill': 'Python', 'score': 100}, {'skill': 'MySQL', 'score': 80}, {'skill': 'C++', 'score': 20}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'Database', 'score': 20}, {'skill': 'MYSQL', 'score': 20}, {'skill': 'DJANGO', 'score': 80}, {'skill': 'HTML5', 'score': 20}, {'skill': 'REST API', 'score': 20}, {'skill': 'OpenCV', 'score': 80}, {'skill': 'PIL', 'score': 80}, {'skill': 'Numpy', 'score': 80}, {'skill': 'Git', 'score': 80}]
[{'skill': 'Python', 'score': 80}, {'skill': 'Database', 'score': 20}, {'skill': 'MYSQL', 'score': 20}, {'skill': 'DJANGO', 'score': 80}, {'skill': 'HTML5', 'score': 20}, {'skill': 'REST API', 'score': 20}, {'skill': 'OpenCV', 'score': 80}, {'skill': 'PIL', 'score': 80}, {'skill': 'Numpy', 'score': 80}, {'skill': 'Git', 'score': 80}]
---
[{'skill': 'Python development', 'score': 80}, {'skill': 'Python - MongoDB', 'score': 80}, {'skill': 'Python - MySql', 'score': 80}, {'skill': 'Python Cache & Memoization', 'score': 80}, {'skill': 'Python GIT', 'score': 80}, {'skill': 'Python PWS (Pivotal Web Service - Cloud Foundry)', 'score': 80}, {'skill': 'M3/Movex ERP development', 'score': 80}, {'skill': 'AS400 development of Movex/M3 ERP', 'score': 80}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 80}, {'skill': 'RPG/400, CL/400, ILE RPG, ILE CL, DB2/400, QUERY400 and SQL/400', 'score': 80}, {'skill': 'Flask', 'score': 20}, {'skill': 'Restful API', 'score': 20}]
[{'skill': 'Python development', 'score': 80}, {'skill': 'Python - MongoDB', 'score': 80}, {'skill': 'Python - MySql', 'score': 80}, {'skill': 'Python Cache & Memoization', 'score': 80}, {'skill': 'Python GIT', 'score': 80}, {'skill': 'Python PWS (Pivotal Web Service - Cloud Foundry)', 'score': 80}, {'skill': 'M3/Movex ERP development', 'score': 80}, {'skill': 'AS400 development of Movex/M3 ERP', 'score': 80}, {'skill': 'Stream Server development of Movex/M3 ERP', 'score': 80}, {'skill': 'RPG/400, CL/400, ILE RPG, ILE CL, DB2/400, QUERY400 and SQL/400', 'score': 80}, {'skill': 'Flask', 'score': 20}, {'skill': 'Restful API', 'score': 20}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'MongoDB', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'AS/400', 'score': 100}, {'skill': 'Java', 'score': 20}, {'skill': 'Flask', 'score': 20}, {'skill': 'Restful', 'score': 20}, {'skill': 'Numpy', 'score': 20}, {'skill': 'HTML', 'score': 20}, {'skill': 'CSS', 'score': 20}]
[{'skill': 'Python', 'score': 80}, {'skill': 'MongoDB', 'score': 80}, {'skill': 'MySQL', 'score': 80}, {'skill': 'AS/400', 'score': 100}, {'skill': 'Java', 'score': 20}, {'skill': 'Flask', 'score': 20}, {'skill': 'Restful', 'score': 20}, {'skill': 'Numpy', 'score': 20}, {'skill': 'HTML', 'score': 20}, {'skill': 'CSS', 'score': 20}]
---
[{'skill': 'Python Developer', 'score': 100}]
[{'skill': 'Python Developer', 'score': 100}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 20}, {'skill': 'C++', 'score': 20}]
[{'skill': 'Python', 'score': 80}, {'skill': 'MySQL', 'score': 20}, {'skill': 'C++', 'score': 20}]
---
[{'skill': 'Python', 'score': 80}, {'skill': 'C++', 'score': 20}, {'skill': 'MYSQL', 'score': 20}]
[{'skill': 'Python', 'score': 80}, {'skill': 'C++', 'score': 20}, {'skill': 'MYSQL', 'score': 20}]
---
[{'skill': 'python scripting', 'score': 80}, {'skill': 'programming', 'score': 80}, {'skill': 'python library', 'score': 80}, {'skill': 'mysql', 'score': 80}, {'skill': 'django', 'score': 80}, {'skill': 'html', 'score': 20}, {'skill': 'web scrapping', 'score': 20}]
[{'skill': 'python scripting', 'score': 80}, {'skill': 'programming', 'score': 80}, {'skill': 'python library', 'score': 80}, {'skill': 'mysql', 'score': 80}, {'skill': 'django', 'score': 80}, {'skill': 'html', 'score': 20}, {'skill': 'web scrapping', 'score': 20}]
---
19

In [8]:
INDEX = 19
literal_eval(df[df['job_label'] == 'Mechanical Engineer']['skills'].iloc[INDEX])

[{'skill': 'Autocad', 'score': 80},
 {'skill': 'Catia V5', 'score': 100},
 {'skill': 'MS office', 'score': 80},
 {'skill': 'ProE', 'score': 0}]

In [89]:
missing = df_raw[df_raw['label'] == 'Python Developer'].iloc[INDEX]

In [91]:
literal_eval(missing['skill_eval_gpt'])['skills']

[{'skill': 'Python', 'score': 100},
 {'skill': 'Django', 'score': 100},
 {'skills': 'CSS', 'score': 80},
 {'skill': 'HTML', 'score': 80},
 {'skill': 'MYSQL', 'score': 80},
 {'skill': 'Web Services (REST)', 'score': 80},
 {'skill': 'JSON', 'score': 80},
 {'skill': 'Agile', 'score': 80},
 {'skill': 'Scrum', 'score': 80},
 {'skill': 'Github', 'score': 80},
 {'skill': 'JIRA', 'score': 80},
 {'skill': 'Unix', 'score': 20},
 {'skill': 'Mongodb', 'score': 20}]

In [93]:
add_DF = pd.DataFrame([{
    'job_label': 'Python Developer',
    'skills': literal_eval(missing['skill_eval_gpt'])['skills'],
    'file_label': 'none'}])

In [94]:
df = pd.concat([df, add_DF], ignore_index=True)

In [27]:
len(df_raw[df_raw['label'] == 'Python Developer']['skill_eval_gpt'])

20

In [10]:
df_new = df[df['job_label'] != "[{'skill': 'CSS', 'score': 80}]"]

In [8]:
df.groupby(df['job_label']).count()

                           skills  file_label
job_label
Blockchain                     20          20
Data Science                   20          20
DevOps Engineer                20          20
Electrical Engineering         20          20
Java Developer                 20          20
Mechanical Engineer            20          20
Network Security Engineer      20          20
Python Developer               20          20
SAP Developer                  20          20
Web Designing                  20          20

In [12]:
len(df_new)

199

In [9]:
df.head()

      job_label                                             skills file_label
0  Data Science  [{'skill': 'Data Structure', 'score': 80}, {'s...       none
1  Data Science  [{'skill': 'Python', 'score': 80}, {'skill': '...       none
2  Data Science  [{'skill': 'Machine Learning', 'score': 100}, ...       none
3  Data Science  [{'skill': 'Numpy', 'score': 80}, {'skill': 'M...       none
4  Data Science  [{'skill': 'Data Structure', 'score': 80}, {'s...       none

In [17]:
for i, row in df.iterrows():
    skills = literal_eval(row['skills'])
    for skill in skills:
        try:
            if type(skill['score']) != int:
                print('Error: ', skill)
            if type(skill['skill']) != str:
                print('Error: ', skill)
        except Exception as e:
            #df.iloc[i] = str([{'skill': skill['skills'], 'score': skill['score']}])
            print(skill)

In [26]:
literal_eval(df['skills'][0])

[{'skill': 'Data Structure', 'score': 80},
 {'skill': 'C', 'score': 80},
 {'skill': 'Data Analysis', 'score': 80},
 {'skill': 'Python', 'score': 80},
 {'skill': 'Core Java', 'score': 80},
 {'skill': 'Database Management', 'score': 80}]

In [48]:
for i, row in df.iterrows():
    if type(row['skills']) == str:
        skill_str = row['skills'].replace("'", "\"")
        df.at[i, 'skills'] = literal_eval(skill_str)
    try:
        if type(literal_eval(skill_str)) != list:
            print(i)
            #print(row['skills'])
            print(type(row['skills']))
    except Exception as e:
        print(e)

In [30]:
df = df.rename(columns={'label': 'job_label', 'skill_eval_gpt': 'skills'})

In [35]:
df['file_label'] = 'none'

In [56]:
for i, row in df.iterrows():
    skills = literal_eval(row['skills'])
    if len(skills) == 1:
        # print(skills)
        try:
            print(skills)
            df.at[i, "skills"] = skills["results"]
        except:
            try:
                print(skills)
                df.at[i, "skills"] = skills["skills"]
            except:
                pass

[{'skill': 'software sales', 'score': 80}]
[{'skill': 'software sales', 'score': 80}]

In [99]:
df.to_csv('./data/cv_result_data2.csv')

In [28]:
df.drop('gender_terms', axis=1, inplace=True)

In [12]:
json.loads(df['skill_eval_gpt'][0].strip())['skills']

[{'skill': 'Analytical and problem solving skills', 'score': 80},
 {'skill': 'Detail-oriented', 'score': 80},
 {'skill': 'Excellent communication and presentation skills', 'score': 80},
 {'skill': 'Solid understanding of database technologies, data analytics, and reporting tools',
  'score': 80},
 {'skill': 'Strong working knowledge of Excel and Google Sheets', 'score': 80},
 {'skill': 'Prior experience with any variant of SQL', 'score': 80},
 {'skill': 'Experience with Google Analytics or other web analytical tools',
  'score': 80},
 {'skill': 'Experience with data visualization tools like Looker',
  'score': 80}]

In [9]:
df[df['job_label'] == 'Mechanical Engineer']

,job_label,skills,file_label
40,Mechanical Engineer,"[{'skill': 'Microsoft Office', 'score': 80}, {...",none
41,Mechanical Engineer,[{'skill': 'Knowledge of software / computer (...,none
42,Mechanical Engineer,"[{'skill': 'Application Engineering', 'score':...",none
43,Mechanical Engineer,"[{'skill': 'Microsoft Office - Word ,Excel,Aut...",none
44,Mechanical Engineer,"[{'skill': 'Leadership', 'score': 80}, {'skill...",none
45,Mechanical Engineer,"[{'skill': 'Microsoft Office (Word, Excel)', '...",none
46,Mechanical Engineer,"[{'skill': 'Mechanical Engineering', 'score': ...",none
47,Mechanical Engineer,"[{'skill': 'Autocad', 'score': 80}, {'skill': ...",none
48,Mechanical Engineer,"[{'skill': 'Microsoft Office', 'score': 80}, {...",none
49,Mechanical Engineer,"[{'skill': 'Microsoft office', 'score': 80}, {...",none
50,Mechanical Engineer,"[{'skill': 'Autocad', 'score': 80}, {'skill': ...",none
51,Mechanical Engineer,"[{'skill': 'Knowledge of AutoCAD', 'score': 80...",none
52,Mechanical Engineer,"[{'skill': 'Microsoft Office -Word ,Excel,Auto...",none
53,Mechanical Engineer,[{'skill': 'Knowledge of software / computer: ...,none
54,Mechanical Engineer,"[{'skill': 'AutoCAD', 'score': 80}, {'skill': ...",none
55,Mechanical Engineer,[{'skill': 'Knowledge of software / computer: ...,none
56,Mechanical Engineer,"[{'skill': 'Leadership', 'score': 80}, {'skill...",none
57,Mechanical Engineer,"[{'skill': 'Microsoft Office', 'score': 80}, {...",none
58,Mechanical Engineer,"[{'skill': 'Mechanical Engineering', 'score': ...",none
59,Mechanical Engineer,"[{'skill': 'Autocad', 'score': 80}, {'skill': ...",none

In [15]:
literal_eval(df[df['job_label'] == 'Mechanical Engineer']['skills'].to_list()[4])

[{'skill': 'Leadership', 'score': 80},
 {'skill': 'Event Management', 'score': 80},
 {'skill': 'Project Management', 'score': 80},
 {'skill': 'Engineering', 'score': 20}]

In [24]:
df_job = pd.read_csv('./data/job_announce_result_10.csv', index_col=0)

In [27]:
df_job = pd.read_csv('./data/job_announce_result_final.csv', index_col=0)

In [41]:
literal_eval(df_job[df_job['label'] == 'Blockchain']['skill_eval_gpt'][9])

{'skills': [{'skill': 'Comfort and familiarity with complex engineering tools',
   'score': 80},
  {'skill': 'Proficient in understanding the Ethereum ecosystem, blockchain explorers, and smart contracts',
   'score': 80},
  {'skill': 'Comfortable with Linux command-line operations to navigate and manage blockchain infrastructure efficiently',
   'score': 80},
  {'skill': 'Strong understanding of git version control and experience managing Github repositories',
   'score': 80},
  {'skill': 'Participate in a week-long on-call rotation schedule',
   'score': 80},
  {'skill': 'Software engineering degree/computer science background',
   'score': 80},
  {'skill': 'Experience with Crypto/blockchain, multisignature wallets, gnosis safes, or hardware wallets',
   'score': 80},
  {'skill': 'Startup experience', 'score': 20}]}